<html>
    <head>
        <title>
            Fy-yur Application
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            nav {
                text-align:left;
                word-spacing: 30px;
                padding-left: 50px; 
            }
            section {
                text-align:left;
                padding-left: 50px;
                
            }

            footer{
                text-align:left;
                padding-top: 100px; 
            }
            div{
                text-align:left;
                padding-left: 90px;
                 
            }
        </style>
        
    </head>
<body>
    
        <nav>
            <a href='findvenue.html'>Venue</a>
            <a href='findartists.html'>Artist</a>
            <a href='listshows.html'>Show</a>
        </nav>
        <p>
            <h1>Fy-yur (Booking Site)</h1><br>
            <h2>Where musical artists meet musical venues.</h2>
        </p>
        <section>
            <a href='findvenue.html' target=_self>Find a venue</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/postvenue" target=_self>Post a venue</a><br><br>
            <a href='findartists.html' target=_self>Find an artists</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href='postartists.html' target=_self>Post an artists</a>
        </section>

        <p><h2>Publicize about your show for free.</h2></p>

        <div><a href='postyourshow.html' target=_self>Post your show</a></div>


        <footer>Fyyur &#169; All Right Reserved</footer>
    


</body>
</html>